[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/bin/bash -c "source /home/pi/bin/jupyter-venv/bin/activate; jupyter-lab --notebook-dir=/home/pi/notebooks --no-browser --ServerApp.ip=0.0.0.0 --ServerApp.password=sha1:0a02b42bf037:6cc2f139eae8bdae22ba37dfd24aa6aa62a45b3b"
User=pi
Group=pi
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
